

.inp1{
    width: 350px;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 10px;
    border-color: transparent;
}
.sec3{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.inpdata{
    color: rgb(117, 113, 113);
}

.btn2{
    height: 50px;
    width: 345px;
    border-radius: 10px;
    border-color: transparent;
    background-color:rgb(247, 245, 235);
    font-size: 1.1rem;
}

.btn2:hover{
    background-color: rgb(217, 215, 213);
    transform:scale(1.02);
}